<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="carriers/samedaycourier/password" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="addMyButton" type="SamedayCourier\Shipping\Plugin\Block\Adminhtml\Order\View"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="samedaycourier_shipping_pickuppoint_data_source" xsi:type="string">SamedayCourier\Shipping\Model\ResourceModel\PickupPoint\Grid\Collection</item>
                <item name="samedaycourier_shipping_service_data_source" xsi:type="string">SamedayCourier\Shipping\Model\ResourceModel\Service\Grid\Collection</item>
                <item name="samedaycourier_shipping_locker_data_source" xsi:type="string">SamedayCourier\Shipping\Model\ResourceModel\Locker\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="add_showLockersMap_to_method" type="SamedayCourier\Shipping\Plugin\Carrier\ShowLockersMap" disabled="false" sortOrder="30"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="add_showLockersMap_to_method_rate" type="SamedayCourier\Shipping\Plugin\Quote\Address\Rate" disabled="false" sortOrder="3"/>
    </type>

    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="add_countryCode_to_method" type="SamedayCourier\Shipping\Plugin\Carrier\CountryCode" disabled="false" sortOrder="30"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="add_countryCode_to_method_rate" type="SamedayCourier\Shipping\Plugin\Quote\Address\Rate" disabled="false" sortOrder="3"/>
    </type>

    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="add_apiUsername_to_method" type="SamedayCourier\Shipping\Plugin\Carrier\ApiUsername" disabled="false" sortOrder="30"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="add_apiUsername_to_method_rate" type="SamedayCourier\Shipping\Plugin\Quote\Address\Rate" disabled="false" sortOrder="3"/>
    </type>

    <preference for="SamedayCourier\Shipping\Api\Data\PickupPointInterface" type="SamedayCourier\Shipping\Model\Data\PickupPoint" />
    <preference for="SamedayCourier\Shipping\Api\PickupPointRepositoryInterface" type="SamedayCourier\Shipping\Model\ResourceModel\PickupPointRepository" />
    <preference for="SamedayCourier\Shipping\Api\Data\PickupPointSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <preference for="SamedayCourier\Shipping\Api\Data\ServiceInterface" type="SamedayCourier\Shipping\Model\Data\Service" />
    <preference for="SamedayCourier\Shipping\Api\ServiceRepositoryInterface" type="SamedayCourier\Shipping\Model\ResourceModel\ServiceRepository" />
    <preference for="SamedayCourier\Shipping\Api\Data\ServiceSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <preference for="SamedayCourier\Shipping\Api\Data\LockerInterface" type="SamedayCourier\Shipping\Model\Data\Locker" />
    <preference for="SamedayCourier\Shipping\Api\LockerRepositoryInterface" type="SamedayCourier\Shipping\Model\ResourceModel\LockerRepository" />
    <preference for="SamedayCourier\Shipping\Api\Data\LockerSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <preference for="SamedayCourier\Shipping\Api\Data\AwbInterface" type="SamedayCourier\Shipping\Model\Data\Awb" />
    <preference for="SamedayCourier\Shipping\Api\AwbRepositoryInterface" type="SamedayCourier\Shipping\Model\ResourceModel\AwbRepository" />
    <preference for="SamedayCourier\Shipping\Api\Data\AwbSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
</config>
