<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="checkoutvalidatelockers" instance="SamedayCourier\Shipping\Observer\Frontend\CheckoutValidateLockers"/>
        <observer name="checkoutrepaymentfee" instance="SamedayCourier\Shipping\Observer\Frontend\CheckoutRepaymentFee"/>
    </event>
</config>
