<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="samedaycourier" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sameday Courier Shipping Module</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>SamedayCourier\Shipping\Model\Config\Backend\Active</backend_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="username" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
<!--                <field id="testing" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">-->
<!--                    <label>Testing mode</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                </field>-->

                <field id="name" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>

                <field id="price" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Cost</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="showmethod" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="show_lockers_map" translate="label" type="select" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Sameday easyBox map on checkout page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="awb_label_format" translate="label" type="select" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Awb Label format</label>
                    <source_model>SamedayCourier\Shipping\Model\Config\Source\AwbLabelFormat</source_model>
                </field>

                <field id="repayment_tax_label" translate="label" type="text" sortOrder="460" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repayment tax label</label>
                </field>

                <field id="repayment_tax" translate="label" type="text" sortOrder="470" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repayment tax</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="480" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>

                <field id="pickuppoints" translate="label" type="button" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pickup points</label>
                    <frontend_model>SamedayCourier\Shipping\Block\Adminhtml\System\Config\Form\Field\PickupPointsButton</frontend_model>
                </field>

                <field id="services" translate="label" type="button" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Services</label>
                    <frontend_model>SamedayCourier\Shipping\Block\Adminhtml\System\Config\Form\Field\ServicesButton</frontend_model>
                </field>

                <field id="lockers" translate="label" type="button" sortOrder="710" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Lockers</label>
                    <frontend_model>SamedayCourier\Shipping\Block\Adminhtml\System\Config\Form\Field\LockersButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
