<div id="locker-map-wrapper" data-bind="visible: showLockersAs() === 'map'">
    <div class="primary">
        <button type="button" class="button action primary checkout" id="showLockerMap" value="Show locker map"
                data-bind="attr: {
                    'data-country_code': getCountryCode(),
                    'data-api_username': getApiUsername(),
                    'data-dest_city': getCity(),
                }"
        >
            Show locker map
        </button>
    </div>
    <span style="font-size: 17px" id="lockerDetails" data-bind="text: lockerDetails"></span>
</div>
<div id="locker-drop-down-wrapper" data-bind="visible: showLockersAs() === 'drop-down'">
    <div class="primary">
        <p>
            <div class="form-group">
                <select class="fieldValue" data-bind="foreach: lockersList, value: selectedLocker, event: {change: onLockerChange}">
                    <optgroup data-bind="attr: {label: label}, foreach: lockers">
                        <option data-bind="text: label, value: data"></option>
                    </optgroup>
                </select>
            </div>
        </p>
    </div>
</div>
