<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <samedaycourier>
                <active>0</active>
                <model>SamedayCourier\Shipping\Model\Carrier\Shipping</model>
                <title>Sameday Courier</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </samedaycourier>
        </carriers>
    </default>
</config>